.profile {
  background-color: #fff;
  width: fit-content;
  text-align: center;
}

.avatar {
  width: 250px;
}

.name {
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
}

.tag,
.location {
  margin-bottom: 10px;
  color: #666;
}

.stats {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.stats li {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 33.3333%;
  height: 80px;
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.stats li:last-child {
  border-right: none;
}

.label {
  font-size: 14px;
  color: #666;
  margin-bottom: 3px;
}

.quantity {
  font-weight: 700;
}
